.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;

  font-size: 20px;
}


aside {
  width: 250px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

aside button {
  margin-bottom: 10px;
}

main {
  padding: 10px 20px 10px 0;
  flex: 1;
}

section.motion {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section.motion h1 {
  margin: 0 0 10px 0;
}

section.motion div {
  flex: 1;
  border: 1px solid grey;
  padding: 5px;
}

section.motion div * {
  border: 0;
}

section.timer {
  background-color: lightgreen;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  /* padding: 5px 0; */
}

section.timer h3 {
  margin: 5px 0;
  font-size: 18px;
}

section.timer.warning {
  background-color: #fffb91;
}

section.timer.ended {
  background-color: lightcoral;
}

section.timer h1 {
  font-size: 72px;
  font-weight: bold;
  margin: 12px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

section.timer p {
   margin: 5px;
}

div.popupBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
}
